<div class="container">
    <h1>Lista de Pedidos</h1>

    <div class="grid-container">
        <div class="card pedido" *ngFor="let pedido of pedidos">
            <div class="pedido-header">
                <h2>Pedido #{{ pedido.folio }}</h2>
                <span [ngClass]="{
                    'pendiente': pedido.estado === 'p',
                    'completado': pedido.estado === 'c',
                    'proceso': pedido.estado === 'e',
                    'cancelado': pedido.estado === 'a'
                  }">{{ estados[pedido.estado] }}</span>
            </div>
            <p>Cliente: {{ pedido.correo }}</p>
            <p>Fecha: {{ pedido.fecha_Pedido | date:'yyyy-MM-dd' }}</p>
           
                <h3>Descripcion:</h3>
                <p>Fecha: {{ pedido.detalle_Pedido }}</p>
            <div class="pedido-botones">
                <button pButton type="button" icon="pi pi-pencil" label="Editar"></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger" label="Eliminar"></button>
            </div>
        </div>
    </div>
</div>
