


.margenArriba{
  margin-top: -500%;
}
 
.imagen{
    width: 50%; /* Ajusta el ancho según sea necesario */
    height: 150px; /* Ajusta la altura según sea necesario */
    background-size: contain; /* Para que la imagen se ajuste al tamaño del div */
    background-repeat: no-repeat;
}



:host ::ng-deep .p-inputnumber-input {
    width: 90% !important;
  }
 
  
  .grid {
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    gap: 20px;
  }

  .gridR{
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    gap: 20px;
  }
  
  .producto {
    margin-bottom: auto;
    width: calc(28%);
  }
  
  .producto-info {
    height: 50%;
    display: flex;
    margin-bottom: 7%;
  }
  
  .producto-detalle {
    margin-bottom: 10%;
  }
  
  .agregarP {
    display: flex;
    max-width: 90%;
    margin: auto;
  }
  
  .agregarC {
    flex: 1 1 auto;
    max-width: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .grid {
      flex-direction: column;
    }
  
    .producto {
      width: 100%;
    }
  
    .producto-info {
      flex-direction: column;
    }
  
    .agregarP {
      flex-direction: column;
    }
  
    .agregarC {
      max-width: 100%;
      margin-bottom: 5%;
    }

    .imagen{
      width: 40%;
    }
    
  }
  
   /* Estilos para centrar el texto en el div */
   .divider-text {
    text-align: center;
    margin-top: -10px; /* Ajusta este valor para centrar verticalmente el texto */
}
/* Estilos para la línea divisora */
 hr {
    border: none;
    border-top: 1px solid #3a3a3a; /* Cambia el color de la línea según sea necesario */
    margin: 10px 0;
}
.container {
    width: 100%;
    margin-top: 2%;
  }
  
  .panel {
    margin-bottom: 5%;
  }
  
  .upload-container {
    width: 100%;
  }
  
  .vista-previa {
    width: 100%;
    height: auto;
  }
  
  .preview-image {
    width: 100%;
    height: auto;
  }
  
  @media screen and (min-width: 769px) {
    .container {
      width: 40%;
      margin-left: 0;
    }
  
    .preview-image {
      width: 50%;
    }
   
  }
  @media screen and (max-width:768px){
    :host ::ng-deep .p-fileupload .p-button {
        font-size: 12px; /* Cambia el tamaño de la fuente del texto del botón */
        padding: 6px 10px; /* Cambia el padding del botón */
    }
  }
  










  