<header>
    <div class="container-header" >
  
      <div class="logo">
  
      </div>
      <h1 class="titulo">WakaMuebles</h1>
      
      <div>
    </div>
    </div>

    <i (click)="LogOut()" class="pi pi-sign-out" style="margin-right: 2%; font-size: 1.3rem; color: white;">Cerrar Sesión</i>

</header>

<p-tabMenu [scrollable]="true" [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)" ></p-tabMenu>

<div style="margin-top: 5%; margin-bottom: 10%;">
  <router-outlet></router-outlet>
</div>

<footer style="margin-top: 5%;">
    <div class="container">
      <p>&copy; 2024 WakaMuebles. Todos los derechos reservados.</p>
    </div>
</footer>