<div style="background-color: rgb(243, 242, 242);">


<header [class.fijo]="isHeaderFixed">
    <div class="container-header" >
  
      <div class="logo">
  
      </div>
      <h1 class="titulo">WakaMuebles</h1>
      <nav>
      
        
      </nav>
      <div>
       
  
    </div>
    </div>

    

    
     
       

    <p-button type="button" class="mr-20" (click)="sidebarVisible2 = true" icon="pi pi-bars" class="margen" severity="secondary"></p-button>

 
  </header>

 
  <div style="margin-top: 5%; margin-bottom: 5%; background-color: rgb(243, 242, 242);">
    <router-outlet></router-outlet>
  </div>
  




 

<footer style="margin-top: 5%;">
    <div class="container">
      <p>&copy; 2024 WakaMuebles. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>


<p-sidebar [(visible)]="sidebarVisible2" position="right">
        
       
  <div  (click)="showDialog2()"  style="display: flex;  margin-top: 10%;">
    <i  class="pi pi-user" style="font-size: 1.5rem"></i>
    <i style="margin-left: 5px;"> Informacion del usuario</i>
  </div>


  
  <div  (click)="showDialog3()" style="display: flex; margin-top: 10%;">
    <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
    <i style="margin-left: 5px;">Carrito  de compras</i>
  </div>

  <div style="display: flex;  margin-top: 10%;">
    <i class="pi pi-wrench" style="font-size: 1.5rem"></i>
    <i style="margin-left: 5px;">Solicitar ayuda</i>
  </div>


  <div style="display:flex ;  margin-top: 10%;">
    <div class="logOut"></div>
    <i style="margin-left: 5px;">Cerrar Sesion </i>
  </div>

</p-sidebar>




<p-dialog 
header="Edit Profile" 
[modal]="true"
[(visible)]="visible2" 
position="center" 
[style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">
        Update your information.
    </span>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">
            Username
        </label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">
            Email
        </label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div>
</p-dialog>


<p-dialog 
header="Edit Profile" 
[modal]="true"
[(visible)]="visible3" 
position="center" 
[style]="{ width: '30rem' }">
  
<ul class="nav-car">
  <li>CODIGO</li>
  <li>CANTIDAD</li>
  <li>PRECIO</li>
</ul>

<div style="margin-bottom: 5%; margin-top: 5%;">
  <i >Total: </i>
</div>

<p-button>Pagar</p-button>
</p-dialog>