<p-toast />
<div style="background-color: rgb(243, 242, 242);">


<header [class.fijo]="isHeaderFixed">
    <div class="container-header" >
  
      <div class="logo">
  
      </div>
      <h1 class="titulo">WakaMuebles</h1>
      <nav>
      
        
      </nav>
      <div>
       
  
    </div>
    </div>

    

    
     
 <i class="pi pi-shopping-cart" style="font-size: 2rem; margin:auto; color: white;" (click)="showDialog3()"></i>

    <p-button type="button" class="mr-20" (click)="sidebarVisible2 = true" icon="pi pi-bars" class="margen" severity="secondary"></p-button>
<div>
  
</div>   
  </header>
  <div  [class.fijomenu]="ismenuFixed">
    <p-tabMenu [scrollable]="true" [model]="categorias"></p-tabMenu>
 
  </div>
 
  <div style="margin-top: 5%; margin-bottom: 5%; background-color: rgb(243, 242, 242);">
    <router-outlet></router-outlet>
  </div>
  




 

<footer style="margin-top: 5%;">
    <div class="container">
      <p>&copy; 2024 WakaMuebles. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>


<p-sidebar   [(visible)]="sidebarVisible2" position="right">
 
        
  <div  *ngIf="router.isActive('/particula/pagos', true)"   style="display: flex;  margin-top: 10%;">
  
    <p-button (click)="regresar()" [style]="{'width': '100%'}"  >   <i  class="pi  pi-angle-left" style="font-size: 1.5rem;  margin-right: 2%; "></i> Regresar</p-button>
  </div>

  <div  (click)="showDialog2()"  style="display: flex;  margin-top: 10%;">
  
    <p-button [style]="{'width': '100%'}"  >   <i  class="pi pi-user" style="font-size: 1.5rem;  margin-right: 2%; "></i> Informacion del usuario</p-button>
  </div>


  
  <!-- <div  (click)="showDialog3()" style="display: flex; margin-top: 10%;">
    
  
  </div> -->

  <div style="display: flex;  margin-top: 10%;">
  
    <p-button [style]="{'width': '130%'}">   <i class="pi pi-wrench" style="font-size: 1.5rem; margin-right: 2%;"></i>Solicitar ayuda</p-button>
  </div>

  <div *ngIf="rol !== 'c'" style="display: flex; margin-top: 10%;">
    <p-button [style]="{'width': '170%'}">
      <i class="pi pi-file-edit" style="font-size: 1.5rem; margin-right: 2%;"></i>
      A medida
    </p-button>
  </div>


  <div (click)="LogOut()" style="display:flex ;  margin-top: 10%;">
    
    <p-button [style]="{'width': '150%'}"><i class=" pi pi-sign-out" style="margin-right: 2%;"></i>Cerrar Sesion </p-button>
  </div>

</p-sidebar>




<p-dialog 
header="Tu informacion" 
[modal]="true"
[(visible)]="visible2" 
position="center" 
[closable]="false"
[style]="{ width: '25rem' }">
 
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">
            Nombre
        </label>
        <input pInputText id="username" class="flex-auto"  [value]="usuario?.nombre" disabled  />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">
            Correo
        </label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" [value]="usuario?.correo" disabled  />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="username" class="font-semibold w-6rem">
          Telefono
      </label>
      <input pInputText id="username" class="flex-auto" autocomplete="off"  [value]="usuario?.celular" disabled />
  </div>
  <div *ngIf="rol !== 'c'"  class="flex align-items-center gap-3 mb-3">
    <label for="username" class="font-semibold w-6rem">
        RFC
    </label>
    <input pInputText id="username" class="flex-auto" autocomplete="off"   [value]="usuario?.rfc" disabled/>
</div>
<div class="flex align-items-center gap-3 mb-3">
  <label for="username" class="font-semibold w-6rem">
    <i class=" pi pi-map"></i> Domicilio
  </label>
  <div class="input_group">
        <div *ngFor="let direccion of direccionesU">
          <label>
            {{ direccion.calle }}, {{ direccion.colonia }}, {{ direccion.cp }}, {{ direccion.num_exterior }}
          </label>
          <br>
        </div>
    
</div>
</div>

    <div class="flex justify-content-end gap-2">
    
        <p-button label="Cancel" severity="secondary" [style]="{'margin-right': '20px'}"   (click)="visible2 = false" />
      
      
        <p-button class="create-account-button" (click)="cambiarContra()" severity="help" >C. Contr.</p-button>
    </div>
</p-dialog>
<p-dialog 
  [modal]="true"
  [(visible)]="visible3" 
  position="center" 
  [style]="{ width: '30rem' }"
> 
  <div class="nav-car">
    <div class="header">
      <div class="header-item">Codigo</div>
      <div class="header-item">CANTIDAD</div>
      <div class="header-item">PRECIO</div>
    </div>
    <div class="body">
      <ng-container *ngFor="let item of carrito">
        <div class="body-row">
          <div class="body-item">{{ item.sku }}</div>
          <div class="body-item">{{ item.cantidad }}</div>
          <div class="body-item">{{ item.precio }}</div>
        </div>
      </ng-container>
    </div>
  </div>

  <div style="margin-bottom: 5%; margin-top: 5%;">
    <i>Total: </i>
  </div>

  <p-button (click)="pagos()">Pagar</p-button>
</p-dialog>




<p-dialog header="Cambio de contraseña"[(visible)]="visibleCContra" [modal]="true" [style]="{ width: '40vw' }"      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"  [draggable]="false" [resizable]="false" [closable]="false">
  <form  [formGroup]="cambioContra">
    <div *ngIf="cambioContra.get('correo')?.touched && cambioContra.get('correo')?.errors?.['required']" style="font-size: 0.8rem; color: red;">El correo es obligatorio.</div>
    <div class="flex-column">
      <div class=" gap-2">
        <label for="username">Contraseña:</label>
        <p-password formControlName="contraseña" [toggleMask]="true" class="input-widthp" [style]="{'width':'90%'}" [inputStyle]="{'width':'100%'}" ></p-password>
        <div *ngIf="cambioContra.get('contraseña')?.touched && cambioContra.get('contraseña')?.errors?.['required']" style="font-size: 0.8rem; color: red;">La contraseña es obligatoria.</div>
      </div>
      <div class=" gap-2">
        <label for="username">Valida la contraseña:</label>
        <p-password formControlName="validarContraseña" [toggleMask]="true" class="input-widthp"  [style]="{'width':'90%'}"  [inputStyle]="{'width':'100%'}"  [feedback]="false"></p-password>
        <div *ngIf="cambioContra.get('validarContraseña')?.touched &&cambioContra.get('validarContraseña')?.errors?.['required']" style="font-size: 0.8rem; color: red;">Debe validar la contraseña.</div>
        <div *ngIf="cambioContra.get('contraseña')?.value !== cambioContra.get('validarContraseña')?.value && cambioContra.get('validarContraseña')?.touched" style="font-size: 0.8rem; color: red;">Las contraseñas no coinciden.</div>
      </div>
    </div>
  </form>
  
  <ng-template pTemplate="footer">
    <div class="botones-fotter">
      <p-button class="create-account-button" label="Aceptar" [raised]="true" severity="success"
      size="small" [disabled]="cambioContra.invalid || cambioContra.get('contraseña')?.value !== cambioContra.get('validarContraseña')?.value" ></p-button>
  
      <p-button label="Cancelar" [raised]="true" severity="danger" (click)="visibleCContra=false" size="small"></p-button>
    </div>
  </ng-template>
  
  </p-dialog>
  