.t-boton .p-button {
    height: 40px !important;
}
.t-busqueda{
    height: 40px;
    width: 40% !important;
}

.margen{
    margin: 0 5%;
}


.logOut{
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: 40px; /* Ajusta la altura según sea necesario */
    background-image: url(../../imagenes/icons8-salida-30.png);
    background-size: contain; /* Para que la imagen se ajuste al tamaño del div */
    background-repeat: no-repeat;
}