.fijomenu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ajusta según sea necesario */
  top: 140px;
}
.t-boton .p-button {
    height: 40px !important;
}
.t-busqueda{
    height: 40px;
    width: 40% !important;
}

.margen{
    margin: 0 5%;
}


.logOut{
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: 40px; /* Ajusta la altura según sea necesario */
    background-image: url( '/assets/imagenes/icons8-salida-30.png');
    background-size: contain; /* Para que la imagen se ajuste al tamaño del div */
    background-repeat: no-repeat;
}

// .nav-car{
//    display: flex;
//    justify-content: space-between;
//     font-size: 10px;
// }

.nav-car {
    width: 100%;
  }
  
  .header, .body-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
  }
  
  .header-item, .body-item {
    flex: 1;
    text-align: center;
  }
  
  .header {
    font-weight: bold;
  }
  
  .body-row:hover {
    background-color: #f9f9f9;
  }
  
  .input_group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input_box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input-width {
  width: 100% !important;
}

.small-text-button .p-button-label {
  font-size: 12px; /* Ajusta este valor según sea necesario */
}