.card {
    display: flex;
    flex-wrap: wrap;
}

.card p {
    flex: 1;
    padding: 10px;
}

p-divider {
    display: none; /* Para ocultar el separador en pantallas pequeñas */
}

@media (max-width: 768px) {
    .card p-divider {
        display: block; /* Mostrar el separador en pantallas pequeñas */
    }
}

.vista-previa{
    margin-left: 5%;
    width: 40px;
    height: 40px;
}
.custom-margin {
    margin-top: 10px; /* Puedes ajustar el tamaño del margen según tus necesidades */
  }


  .detalles {
    margin-top: 10px;
    font-size: 14px;

    .precio {
        color: green;
    }

    .cantidad {
        color: blue;
    }
}


