<header>
    <div class="container-header">
  
        <div  class="logo">
            
        </div>
        <nav>
            <ul>
              <ul>
                <li><a href="#"  class="pi pi-home"  style="font-size: 1.5rem"></a></li>
                <li><a href="../login">Iniciar sesión</a></li>
                <li><a href="../nosotros">Nosotros</a></li>
              
            </ul>
                
            </ul>
        </nav>
       
    </div>
  </header>

<div class="center-text">
    <h2>Contacto</h2>
</div>
    
  <section>


    <form class="formulario">
        <fieldset>
            <legend>Contactános llenando todos los campos</legend>

            <div class="contenedor-campos">
                <div class="campo">
                    <label>Nombre</label>
                    <input class="input-text" type="text" placeholder="Tu Nombre">
                </div>

                <div class="campo">
                    <label>Teléfono</label>
                    <input class="input-text" type="tel" placeholder="Tu Teléfono">
                </div>

                <div class="campo">
                    <label>Correo</label>
                    <input class="input-text" type="email" placeholder="Tu Email">
                </div>
        
                <div class="campo">
                    <label>Mensaje</label>
                    <textarea class="input-text"></textarea>
                </div>
            </div> <!-- .contenedor-campos -->

            <div class="alinear-derecha flex">
             <p-button [rounded]="true" severity="info" label="Enviar"></p-button>
            </div>
        </fieldset>
    </form>
</section>

  <footer>
    <div class="container">
        <p>&copy; 2024 WakaMuebles. Todos los derechos reservados.</p>
    </div>
  </footer>
  





